<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Responses</title>
</head>

<body>
    <h1>Survey Responses</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Sex</th>
            <th>Age</th>
            <th>Height</th>
            <th>Weight</th>
            <th>Strength Training</th>
            <th>Desired Drunkenness</th>
            <th>Wine %</th>
            <th>Beer %</th>
            <th>Other %</th>
        </tr>
        {% for response in responses %}
        <tr>
            <td>{{ response.id }}</td>
            <td>{{ response.sex }}</td>
            <td>{{ response.age }}</td>
            <td>{{ response.height }}</td>
            <td>{{ response.weight }}</td>
            <td>{{ response.strength_training }}</td>
            <td>{{ response.desired_drunkenness }}</td>
            <td>{{ response.wine_percentage }}</td>
            <td>{{ response.beer_percentage }}</td>
            <td>{{ response.other_percentage }}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>